{% extends "base.twig" %}



{% block body %}

    <h1>test liste commentaire</h1>
{% if data is defined%}
    <ul>
        {% for review in data %}

        <div class="box">
            <div>{{review.comment}}</div>
            <div class="content">
                <div class="info">
                <div class="name">{{review.username}}</div>
                <div class="stars">{{review.score}}</div>
                </div>
            </div>
        </div>

        {% endfor %}
    </ul>
    
{% endif %}

{% endblock %}