{% extends "base.twig" %}


{% block body %}
    <h1>test</h1>
<p>Cela fonctionne parfaitement</p>
{% if data is defined%}
    <ul>
        {% for anime in data %}
            <li>{{anime.title}}</li>
        {% endfor %}
    </ul>
    
{% endif %}

{% endblock %}
