{% extends "base.twig" %}


{% block body %}
<div class="bg-dark">
    <div class="bg-dark container ">
        {% if data is defined%}
        <h1 class='text-light'>Liste des épisodes</h1>
            <table class="table table-striped table-dark">
                <tr>
                    <th>Titre</th>
                    <th>Nombre d'épisodes</th>
                    <th>année de sortie</th>
                </tr>
                {% for anime in data %}
                    <tr>
                    <td>{{anime.title}}</td>
                    <td>{{anime.episodes}}</td>
                    <td>{{anime.aired_from}}</td>
                    </tr>
                    
                {% endfor %}
            </table>
                
            </ul>
            
        {% endif %}
    </div>
</div>



{% endblock %}
