{% extends "base.twig" %}

{% block body %}

    <h1>Register</h1>

    {#<?php#}
{#    if (count($arrErrors) > 0){#}
{#?>#}
{#<div class="error">#}
{#    <?php#}
{#            foreach($arrErrors as $strError){#}
{#                echo "<p>".$strError."</p>";#}
{#    }#}
{#    ?>#}
{#</div>#}
{#<?php#}
{#    }#}
{#    ?>#}

    <p><a href="{{data.display('register/add/')}}">Ajouter un utilisateur</a></p>

{% endblock %}