<!DOCTYPE html>

{% include "header.twig" %}

<html lang="en" data-bs-theme="dark">
<body>
<div class="">
    {% block navbar %}
        {{include ("navbar/navbar.twig")}}
          <link rel="stylesheet" href="\css\bootstrap.css">
          <link rel="stylesheet" href="\css\navbar.css">
          <link rel="stylesheet" href="\css\bootstrap-utilities.css">
    {% endblock %}
</div>

    {% block body %}
            {{include ("home/index.twig")}}
              <link rel="stylesheet" href="\css\bootstrap.css">
              <link rel="stylesheet" href="\css\bootstrap-utilities.css">
    {% endblock %} 

</body>
</html>

{% include "footer.twig" %}
