<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
    <header>
 {#   {% block header %}
        <link rel="stylesheet" href="vendor\twbs\bootstrap\dist\cssbootstrap.css">
        <title>Pandanim</title>

            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <div class = "header-font"> </div>
        <img class = "header-logo" src="https://pbs.twimg.com/profile_images/748135398728146944/2w8jnGOt_400x400.jpg" alt="Description de l'image">
        
            <h1 class = "header-accroche">Le meilleur endroit pour les fans d'animés !</h1>
 
    </header>
    {% endblock %}
#}

